#orderContentsListContainer {
    grid-area: orderContentsList;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}

#orderContentsListContainer h1 {
    text-align: center;
}