#buttonsContainer {
    grid-area: buttonsContainer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;
}

#buttonsContainer button {
    font-size: 32px;
}